body {
	background-image: url('../images/bmw1.jpg');
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}

.form-wrapper {
	background-color: rgba(255, 255, 255, 0.6);
	margin: 30px;
	padding: 30px;
}

.message {
	padding: 0.5em 0.5em;
	margin-bottom: 0;
	display: none;
}